.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: $light-color;

	.brand-name {
		font-family: "PlayfairDisplay", serif;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: 3px;
		color: $dark-color;
	}

	.nav-desktop-links {
		display: none;

		@media screen and (min-width: 768px) {
			display: flex;
			gap: 1.5rem;

			.nav-link:hover {
				color: $secondary-color;
			}
		}
	}

	.social-links-desktop {
		display: none;

		@media (min-width: 768px) {
			display: flex;
			gap: 15px;
			margin-right: 20px;
		}

		img {
			width: 28px;

			&:hover {
				transform: translateY(-2px) rotate(15deg) scale(1.1);
			}
		}
	}

	.nav-toggle {
		width: 30px;
		height: 20px;
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1100;

		@media screen and (min-width: 768px) {
			display: none;
		}

		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $dark-color;
		}

		&.active {
			span:nth-child(1) {
				transform: rotate(45deg) translate(8px, 5px);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				transform: rotate(-45deg) translate(8px, -5px);
			}
		}
	}

	.nav-overlay {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100dvh;
		background-color: $light-color;
		display: flex;
		font-size: 1.2rem;
		@include flex-center();

		&.active {
			right: 0;
		}

		.overlay-title {
			text-decoration: underline;
		}

		.overlay-links {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		.overlay-socials {
			margin-top: 3rem;
			text-align: center;

			p {
				font-size: 0.9rem;
				color: $secondary-color;
				margin-bottom: 1rem;
				text-transform: uppercase;
			}

			.social-icons {
				display: flex;
				gap: 20px;
				justify-content: center;

				img {
					width: 32px;
				}
			}
		}
	}
}
