/* =====================
   VARIABLES 
===================== */
$primary-color: #3e2c25;
$secondary-color: #907a6e;
$light-color: #f9f7f4;
$dark-color: #121212;

$border-soft: solid 0.5px rgba(0, 0, 0, 0.1);
$border-radius-general: 20px;
$border-radius-rounded: 100dvh;
$shadow-soft: 0px 10px 20px rgba(62, 44, 37, 0.1);
$shadow-hard: 0 15px 40px rgba(0, 0, 0, 0.25);

/* =====================
   TYPOGRAPHY
===================== */
@font-face {
	font-family: "PlayfairDisplay";
	src: url("../typography/PlayfairDisplay-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "CinzelDecorative";
	src: url("../typography/CinzelDecorative-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Caveat";
	src: url("../typography/Caveat-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins-Bold.ttf") format("truetype");
	font-weight: 600;
}
/* =====================
   RESET & BASE STYLES
===================== */
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	border: none;
	list-style: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

body {
	background-color: $light-color;
	color: $dark-color;
	overflow-x: hidden;
	position: relative;
	font-family: "Poppins";
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img,
svg {
	width: 100%;
	display: block;
}

.highlight {
	color: $primary-color;
	font-weight: 600;
}

/* =====================
   MIXINS
===================== */
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =====================
   BUTTONS
===================== */
.btn {
	@include flex-center();
	gap: 10px;
	padding: 0.7rem 1.8rem;
	border-radius: 50px;
	font-size: 1rem;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-weight: 400;
	text-transform: uppercase;

	.btn-icon {
		max-width: 20px;
	}

	@media screen and (min-width: 768px) {
		max-width: 250px;
	}

	&.btn-primary {
		background-color: $primary-color;
		color: $light-color;
		border: solid 2px $primary-color;
		box-shadow: $shadow-soft;

		&:hover {
			// opacity: 0.9;
			transform: translateY(-5px);
		}
	}

	&.ghost-btn {
		background-color: transparent;
		border: solid $primary-color 2px;
		color: $primary-color;

		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $light-color;
		}
	}
}

/* =====================
   LAYOUT UTILITIES
===================== */
.body-container {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
}

section {
	padding: 1.5rem;
	max-width: 1200px;
	width: 100%;
	margin-top: 50px;
}

.section-header {
	margin-bottom: 3rem;
	text-align: center;

	@media screen and (min-width: 768px) {
		text-align: left;
	}
	.section-title {
		font-size: 2rem;
		font-weight: 600;
		color: $dark-color;
		margin-bottom: 1rem;
		line-height: 1.2;
		font-family: "PlayfairDisplay";

		@media screen and (min-width: 768px) {
			font-size: 2.5rem;
		}
	}

	.section-description {
		margin-bottom: 2rem;
		line-height: 1.5;
		max-width: 900px;
		opacity: 0.8;
		color: $secondary-color;
	}
}

.mobile-hide {
	@media screen and (max-width: 768px) {
		display: none;
	}
}
