/* =====================
   VARIABLES 
===================== */
/* =====================
   TYPOGRAPHY
===================== */
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../typography/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "CinzelDecorative";
  src: url("../typography/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Caveat";
  src: url("../typography/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}
/* =====================
   RESET & BASE STYLES
===================== */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  background-color: #f9f7f4;
  color: #121212;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img,
svg {
  width: 100%;
  display: block;
}

.highlight {
  color: #3e2c25;
  font-weight: 600;
}

/* =====================
   MIXINS
===================== */
/* =====================
   BUTTONS
===================== */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.7rem 1.8rem;
  border-radius: 50px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
}
.btn .btn-icon {
  max-width: 20px;
}
@media screen and (min-width: 768px) {
  .btn {
    max-width: 250px;
  }
}
.btn.btn-primary {
  background-color: #3e2c25;
  color: #f9f7f4;
  border: solid 2px #3e2c25;
  box-shadow: 0px 10px 20px rgba(62, 44, 37, 0.1);
}
.btn.btn-primary:hover {
  transform: translateY(-5px);
}
.btn.ghost-btn {
  background-color: transparent;
  border: solid #3e2c25 2px;
  color: #3e2c25;
}
.btn.ghost-btn:hover {
  background-color: #3e2c25;
  border-color: #3e2c25;
  color: #f9f7f4;
}

/* =====================
   LAYOUT UTILITIES
===================== */
.body-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

section {
  padding: 1.5rem;
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
}

.section-header {
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-header {
    text-align: left;
  }
}
.section-header .section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #121212;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: "PlayfairDisplay";
}
@media screen and (min-width: 768px) {
  .section-header .section-title {
    font-size: 2.5rem;
  }
}
.section-header .section-description {
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 900px;
  opacity: 0.8;
  color: #907a6e;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f9f7f4;
}
.nav .brand-name {
  font-family: "CinzelDecorative", serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #121212;
  position: relative;
  z-index: 1000;
}
.nav .nav-desktop-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav .nav-desktop-links {
    display: flex;
    gap: 1.5rem;
  }
  .nav .nav-desktop-links .nav-link:hover {
    color: #907a6e;
  }
}
.nav .social-links-desktop {
  display: none;
}
@media (min-width: 768px) {
  .nav .social-links-desktop {
    display: flex;
    gap: 15px;
    margin-right: 20px;
  }
}
.nav .social-links-desktop img {
  width: 28px;
}
.nav .social-links-desktop img:hover {
  transform: translateY(-2px) rotate(15deg) scale(1.1);
}
.nav .nav-toggle {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1100;
}
@media screen and (min-width: 768px) {
  .nav .nav-toggle {
    display: none;
  }
}
.nav .nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #121212;
}
.nav .nav-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 5px);
}
.nav .nav-toggle.active span:nth-child(2) {
  opacity: 0;
}
.nav .nav-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -5px);
}
.nav .nav-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100dvh;
  background-color: #f9f7f4;
  display: flex;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-overlay.active {
  right: 0;
}
.nav .nav-overlay .overlay-title {
  text-decoration: underline;
}
.nav .nav-overlay .overlay-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav .nav-overlay .overlay-socials {
  margin-top: 3rem;
  text-align: center;
}
.nav .nav-overlay .overlay-socials p {
  font-size: 0.9rem;
  color: #907a6e;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.nav .nav-overlay .overlay-socials .social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.nav .nav-overlay .overlay-socials .social-icons img {
  width: 32px;
}

.show-up,
.show-down,
.show-left,
.show-right,
.bounce-in,
.rotate-left,
.rotate-right {
  opacity: 0;
}

.animated {
  opacity: 1;
}
.animated.show-up {
  animation: showUp 0.5s forwards;
}
.animated.show-down {
  animation: showDown 0.5s forwards;
}
.animated.show-left {
  animation: showLeft 0.5s forwards;
}
.animated.show-right {
  animation: showRight 0.5s forwards;
}
.animated.bounce-in {
  animation: bounceIn 0.5s;
}
.animated.rotate-left {
  animation: rotateLeft 0.5s forwards;
}
.animated.rotate-right {
  animation: rotateRight 0.5s forwards;
}

/* ---------------------
   Keyframes
--------------------- */
@keyframes showUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotateLeft {
  0% {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotateRight {
  0% {
    transform: translateX(100%) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes pulseShadow {
  0% {
    transform: translateX(-50%) scaleX(0.8) scaleY(0.2);
    opacity: 0.5;
  }
  50% {
    transform: translateX(-50%) scaleX(1.2) scaleY(1);
    opacity: 0.9;
  }
  100% {
    transform: translateX(-50%) scaleX(1) scaleY(0.6);
    opacity: 0.7;
  }
}
@keyframes moveDown {
  0% {
    transform: translateX(0) scale(0.7);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(25px) scale(1);
    opacity: 0;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 10px));
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 95dvh;
}
.hero .hero-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-visuals {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-visuals .main-img {
  min-height: 60dvh;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .hero .hero-visuals .main-img {
    min-height: 90dvh;
  }
}
.hero .hero-visuals .hero-info {
  padding: 1.5rem;
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero .hero-visuals .hero-info {
    width: auto;
    left: 20%;
    text-align: right;
  }
}
.hero .hero-text {
  text-align: left;
}
.hero .hero-text .hero-title {
  font-family: "PlayfairDisplay", serif;
  font-size: clamp(2.7rem, 5dvw, 5rem);
  color: #121212;
  line-height: 0.9;
  margin-bottom: 1rem;
  text-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  transform: translateX(-20%);
}
.hero .hero-text .hero-title span {
  font-family: "CinzelDecorative", serif;
  transform: translateX(20%);
  display: block;
}
@media screen and (min-width: 768px) {
  .hero .hero-text .hero-title {
    transform: translateX(0%);
  }
  .hero .hero-text .hero-title span {
    transform: translateX(40%);
  }
}
.hero .hero-cta {
  display: flex;
  gap: 10px;
  max-width: 35dvw;
  font-size: 0.9rem;
  justify-content: flex-start;
}

.collections-section .bento-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .collections-section .bento-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
}
.collections-section .bento-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  text-decoration: none;
}
.collections-section .bento-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.collections-section .bento-item .item-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(62, 44, 37, 0.6), transparent);
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.collections-section .bento-item .item-overlay span {
  color: #fff;
  font-family: "PlayfairDisplay", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.collections-section .bento-item:hover img {
  transform: scale(1.1) rotate(3deg);
}
.collections-section .item-large {
  grid-row: span 2;
}
@media screen and (min-width: 768px) {
  .collections-section .item-large {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.collections-section .item-horizontal {
  grid-column: span 2;
  aspect-ratio: 2/1;
  grid-row: span 1;
}
@media screen and (min-width: 768px) {
  .collections-section .item-horizontal {
    aspect-ratio: unset;
  }
}

.image-gallery {
  width: 100%;
  max-width: none;
  margin-block: 2rem;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent 0%, #121212, #121212, transparent 100%);
}
.image-gallery-container {
  display: grid;
  grid-template-rows: repeat(3, minmax(150px, auto));
}
.image-gallery-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 200px);
  animation: slide-left 15s linear infinite;
}
@media (min-width: 700px) {
  .image-gallery-row {
    grid-auto-columns: minmax(150px, 250px);
  }
}
.image-gallery-item {
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  opacity: 0;
  animation: fadeInColumn 15s ease-out infinite;
}
.image-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.image-gallery-item:hover img {
  transform: scale(1.3);
}
.image-gallery-item:nth-child(even) {
  margin-top: -75%;
}
.image-gallery-item:nth-child(1) {
  animation-delay: 0s;
}
.image-gallery-item:nth-child(2) {
  animation-delay: 0.1s;
}
.image-gallery-item:nth-child(3) {
  animation-delay: 0.2s;
}
.image-gallery-item:nth-child(4) {
  animation-delay: 0.3s;
}
.image-gallery-item:nth-child(5) {
  animation-delay: 0.4s;
}
.image-gallery-item:nth-child(6) {
  animation-delay: 0.5s;
}
.image-gallery-item:nth-child(7) {
  animation-delay: 0.6s;
}
.image-gallery-item:nth-child(8) {
  animation-delay: 0.7s;
}
.image-gallery-item:nth-child(9) {
  animation-delay: 0.8s;
}
.image-gallery-item:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes fadeInColumn {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
.gift-section {
  overflow: hidden;
  margin-top: 80px;
  background-color: #fdfbf9;
  width: 100%;
  max-width: none;
}
.gift-section .section-header {
  text-align: left;
}
.gift-section .btn {
  max-width: fit-content;
}
.gift-section .gift-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 60px;
}
@media (min-width: 768px) {
  .gift-section .gift-container {
    grid-template-columns: 0.8fr 1.2fr;
  }
}
.gift-section .gift-visuals {
  position: relative;
  height: 350px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .gift-section .gift-visuals {
    height: 450px;
  }
}
.gift-section .polaroid-stack {
  position: relative;
  width: 100%;
  height: 100%;
}
.gift-section .polaroid {
  position: absolute;
  background: white;
  padding: 10px 10px 30px 10px;
  box-shadow: 0px 10px 20px rgba(62, 44, 37, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 160px;
}
@media (min-width: 768px) {
  .gift-section .polaroid {
    width: 220px;
    padding: 15px 15px 40px 15px;
  }
}
.gift-section .polaroid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.gift-section .polaroid .polaroid-caption {
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
  color: #121212;
  margin-top: 15px;
  text-align: center;
  transform: rotate(-2deg);
}
.gift-section .polaroid:hover {
  z-index: 5;
  transform: scale(1.05) rotate(0deg) !important;
}
.gift-section .photo-1 {
  top: 10%;
  left: 10%;
  transform: rotate(-8deg);
}
.gift-section .photo-2 {
  top: 0%;
  left: 40%;
  transform: rotate(5deg);
  z-index: 2;
}
.gift-section .photo-3 {
  bottom: 2%;
  left: 20%;
  transform: rotate(-12deg);
  z-index: 3;
}
.gift-section .photo-4 {
  bottom: 10%;
  right: 6%;
  transform: rotate(18deg);
  z-index: 2;
}

.faq-section {
  max-width: 850px;
}
.faq-section .section-title {
  text-align: center;
}
.faq-section .faq-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq-section .faq-item {
  border-radius: 20px;
  background-color: #fdfbf9;
  box-shadow: 0px 10px 20px rgba(62, 44, 37, 0.1);
  cursor: pointer;
}
.faq-section .faq-item .faq-header {
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.faq-section .faq-item .faq-header .faq-icon {
  width: 25px;
}
.faq-section .faq-item .faq-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  color: #907a6e;
  transition: max-height 0.3s ease-in, opacity 0.2s ease-in-out;
}
.faq-section .faq-item .faq-content p {
  padding: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.6;
}
.faq-section .faq-item.active .faq-icon {
  transform: rotate(45deg);
}
.faq-section .faq-item.active .faq-content {
  max-height: 100px;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
